body {
    font-family: verdana;
}

h1 {
    margin-top: auto;
    text-align: center;
    font-size: 400%;
}

button {
    margin-left: 30%;
    padding: 1%;
    padding-right: 6%;
    padding-left: 6%;
    font-size: 120%;
    margin-top: 3%;
}

#other {
    margin-left: 5%;
    padding-right: 3%;
    padding-left: 3%;
}

.sidebarleft {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c6c6c6;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebarright {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #c6c6c6;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebarTop {
    height: 160px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #c6c6c6;
    overflow-y: hidden;
}

.sidebarBottom {
    height: 160px;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: #c6c6c6;
    overflow-y: hidden;
}

.body {
    border: 2px solid black;
    padding: 10em;
    padding-bottom: 12.57em;
    padding-right: 0.45em;
    padding-left: 0;
    width: 100%;
}

.inner {
    margin-left: 10.25%;
    margin-right: 11%;
    margin-top: 10em;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
    
    .sidebarleft {
        display: none;
    }

    .sidebarright {
        display: none;
    }

    .sidebarTop {
        display: none;  
    }

    .sidebarBottom {
        display: none;
    }
    
    .inner {
        margin-left: 10.25%;
        margin-right: 11%;
        margin-top: 10em;
    }
    
    .body {
        border: 2px solid black;
        padding-top: 5em;
        padding-bottom: 5em;
        padding-right: 0.45em;
        padding-left: 0;
        width: 100%;
    }
    h1 {
        font-size: 150%;
    }
    button {
        margin-left: 12%;
        padding: 1%;
        padding-right: 6%;
        padding-left: 6%;
        font-size: 120%;
        margin-top: 3%;
    }

    #other {
        margin-left: 5%;
        padding-right: 3%;
        padding-left: 3%;
    }
}